.boxBox {
    display: grid;
    align-items: center;
    grid-template-columns: fit-content auto;
    overflow: hidden;
    border-radius: 20px;
    width: 50vw;
}
.box1 {
    background-color: #B4490A;
}

.box2 {
    display: flex;
    background-color: #F5BA97;
    flex-direction: column;

    gap: 1vh;
}


@media only screen and
    (orientation: landscape) {
        #signUpPage{
            background-image: url('../assets/background-desktop.jfif');
            height: 100vh;
            width: 100vw;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
        }

        .homeTitle {
            position: absolute;
            top: 0;
            margin: 0 auto;
            text-align: center;
            font-family:'Kelly Slab', 'Arial Narrow', Arial, sans-serif;
            font-size: 80px;
            color: #FFE6C1;
            text-shadow: 3px 3px black,
            -3px -3px black,
            3px -3px black,
            -3px 3px black;
             
        }

        .signUpTitle {
            text-align: center;
            font-family:'Kelly Slab', 'Arial Narrow', Arial, sans-serif;
            font-size: 80px;
            color: #FFE6C1;
            -webkit-text-stroke: 0.1px black;
            margin: 0; 

        }
    }

    .signUpBottoni {
        display:flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 1vh;
        padding-left: 15vw;
        padding-right: 15vw;
        padding-bottom: 1vh;
    }