.titleDiv {
    align-items: center;
}
.boxBox {
    display: grid;
    align-items: center;
    grid-template-columns: fit-content auto;
    overflow: hidden;
    border-radius: 20px;
    width: 50vw;
}
.box1 {
    background-color: #B4490A;
}

.box2 {
    display: flex;
    background-color: #F5BA97;
    flex-direction: column;

    gap: 1vh;
}



        #signUpPage{
            background-image: url('../assets/background-desktop.jfif');
            height: 100vh;
            width: 100vw;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
        }

        .homeTitle {
            position: absolute;
            top: 0;
            margin-top: 8vh;
            width: auto;
            height: 14vh;
             
        }

        .signUpTitle {
            text-align: center;
            font-family:'Courier New', Courier, monospace;
            font-size: 50px;
            color:  #fad9c6;
            margin: 0; 

        }


    .signUpInput {
        background-color: beige;
        justify-content: center;
        height: 3.5vh;
        font-size: 20px;
        border: 2px black solid;
        border-radius: 8px;
        margin-top: 4vh;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }

    .signUpBottoni {
        display:flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 1vh;
        padding-left: 15vw;
        padding-right: 15vw;
        padding-bottom: 1vh;
        
    }

    .signUpBottone {
        background-color: beige;
        width: 10vh;
        height: 5vh;
        align-items: center;
        border: 2px black solid;
        border-radius: 8px;
        margin-top: 4vh;
        margin-right: 25%;
        margin-left: 25%;
    }